body {

    background-image: url("kisspng-stock-photography-detective-clip-art-illustration-dmitry-nazarenko-2-17-5be981e9ca5a52.9264880915420298018288.jpg.png"), url("1.jpg") ;
  background-repeat: no-repeat, repeat;
  background-attachment: fixed;
  background-position: bottom left;
  
  
  
    
    
}

.text-center { font-family: marker felt, fantasy;
    font-size: 100px;

}



hr {
    width: 80vw;
    height: 0px;
    opacity: 0;
}

h2,
h4,
h1 {
    font-family: 'DM Serif Display', serif;
}

#answer {
    background-color: white;
    width: 100%;
    padding-left: 0px;
    padding-right:0px;
}

#txt h2 {
    color: black;
    font-family: 'DM Serif Display', serif;
    font-size: 40px;
    
}

img {
    max-width: 45vw;
}

.jumbotron {
    background-color: transparent !important;
}